@use "../_vars.scss" as *;


.employees {

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10rem;
    background-color: $bg-col;

    .employee-card {

        width: 20rem;
        height: 30rem;
        text-align: center;
        border: 2px solid $sec-col;
        border-bottom: none;
        border-radius: 1rem;
        box-shadow: 0 1rem $bg-main;
        margin: 2rem;
        background: linear-gradient(0, $con-col, $bg-col);
        transition: transform 0.5s ease, box-shadow 0.3s ease;

        fieldset {
            margin: 1rem;
            margin-top: 2rem;
            border: 2px solid $bg-col; 
            background: linear-gradient(0, $bg-main, $bg-col);
        }

        &__name {

            font-size: 2rem;
            color: $hi-col;
        }

        &__role {

            font-size: 1.5rem;
            color: $sec-col;
        }

        &__ticket-count {
            font-size: 2rem;
            color: $hi-col;
        }

        &__button {

            font-size: 2rem;
            border-radius: 50%;
            background-color: $sec-col;
            border: none;
            width:3rem;
            height:3rem;
            margin: 0.5rem;
            color: $bg-col;
        }
    }

    .employee-card:hover {
        transform: scale(1.1);
        
        box-shadow: 0 1.5rem $bg-main;

    }

}